<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <style>
        :root {
            background-color: azure;
            display: flex;
            justify-content: center;
        }

        html, body {
            height: 100%;
            justify-content: center;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #comments {
            height: 90vh;
            max-height: 90vh;
            width: 60vw;
            overflow: scroll;
            margin: 10px 5px 0;
        }

        #comments div {
            border: 1px solid gainsboro;
            display: flex;
            flex-direction: column;
        }

        #comments .comment span {
            color: coral;
        }

        #new {
            display: flex;
        }
        #new input {
            width: 55vw;
            height: 5vh;
        }

        #new button {
            margin-left: 5px;
            width: 4vw;
            background-color: coral;
        }
    </style>
    <title>Your Feed</title>
</head>
<body onload=fetch()>
    <div id="feed">
        <header>
            <label for="login">Logged as </label>
            <input id="username" disabled />
        </header>

        <div id="comments">
            {% for comment in comments %}
                <div class="comment">
                    <span> 
                        <strong>
                            {{ comment.username }} 
                        </strong>
                    </span>
                    {{ comment.content }}
                </div>

            {% endfor %}
        </div>

        <div id="new">
            <input type="text" id="new-comment" />
            <button onclick=newComment() >Comment</button>
        </div>
    </div>

    <script type="text/javascript">
        const params = location.search.substring(1).split("&")

        const username = params[0].split("=")[1]
        document.getElementById('username').value = username

        function makeComment(comment){
            const div = document.createElement('div')
            div.classList.add('comment')

            const span = document.createElement('div')
            span.innerHTML = comment.content 

            div.append(span)
            document.getElementById("comments").append(div)
        }

        async function newComment() {
            const comment = document.getElementById('new-comment')
            const content = comment.value

            const commentsUrl = `http://localhost:3333/comments`
            axios.post(commentsUrl, {
                username,
                content
            }).then(data => {
                makeComment({
                    username,
                    content
                })
                comment.value = ""
            })
    }
    </script>
</body>
</html>