<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        :root {
            background-color: azure;
        }

        html, body {
            height: 100%;
            justify-content: center;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #register{
            margin: auto;
            display: flex;
            flex-direction: column;
            max-width: 300px;
            justify-self: center;
            align-self: center;
        }

        #register label{
            margin-top: 15px;
        }

        #register input {
            height: 35px;
        }

        #register button {
            margin-top: 15px;
            height: 30px;
            background-color: coral;
        }

        #register h5 {
            text-align: center;
            margin-top: 5px;
        }

        #register h5 a {
            text-decoration: none;
        }
    </style>
    <title>Web Security</title>
</head>
<body>
    {{ payload }}
    <form action="/comments" >
        <div id="register">

            <label for="name">Name</label>
            <input type="text" id ="name" name="name"/>
            
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
            
            <label for="password">Password</label>
            <input type="text" id="password" name="password"/>
    
            <button onclick=register()>Sign up</button>

            <h5>Already have an account? <a href="/">Sign in</a></h5>
        </div>
        </form>

        <script type="text/javascript">
            async function register(e) {
                const name = document.getElementById('name').value
                const username = document.getElementById('username').value
                const password = document.getElementById('password').value
                const url = `http://localhost:3333/users/`
    
                console.log(name, username, password)
                axios.post(url, {
                    name,
                    username,
                    password
                }).then(data => {
                })
            }
        </script>
</body>
</html>