<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
        :root {
            background-color: azure;
        }

        html, body {
            height: 100%;
            justify-content: center;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #login{
            margin: auto;
            display: flex;
            flex-direction: column;
            max-width: 300px;
            justify-self: center;
            align-self: center;
        }

        label{
            margin-top: 15px;
        }

        input {
            height: 35px;
        }

        button {
            margin-top: 15px;
            height: 30px;
            background-color: coral;
        }

        h5 {
            text-align: center;
            margin-top: 5px;
        }

        h5 a {
            text-decoration: none;
        }

        .error-message {
            color: red;
            text-align: center;
        }
    </style>
    <title>Login</title>
</head>
<body>
    <div id="login">
        <label for="username">Username</label>
        <input type="text" id="username" name="username"/>
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password"/>

        <button onclick=login() >Login</button>
        <h5>Don't have an account? <a href="/signup">Sign Up</a></h5>
    </div>

    <script type="text/javascript">
        async function login(){
            const username = document.getElementById("username")
            const password = document.getElementById("password")

            const url = `http://localhost:3333/users/${username.value}/${password.value}`

            try {
                const response = await axios.get(url)

                document.location.href = `/comments/?username=${username.value}`
            } catch (error) {
                username.value = ""
                password.value = ""

                var span = document.createElement('span')
                span.classList.add('error-message')
                span.innerText = "Wrong username or password. Try again!"

                const div = document.getElementById('login')
                div.append(span)
            }
        }
    </script>
</body>
</html>